# Exemple 1 : Importer les datasets

In [1]:
from scripts.parser import Parser
from scripts.config import *
import pandas as pd


parser = Parser()
path_to_clean_file = parser.data_clean_path
path_to_data_model = parser.data_model_path

print(path_to_clean_file)
print(path_to_data_model)

/Users/yanni-benoit-iyeze/Documents/Data For Good/batch_5_transplant/data/clean_data/
/Users/yanni-benoit-iyeze/Documents/Data For Good/batch_5_transplant/data/clean_data/model/

In [2]:
df = pd.read_csv('{}{}'.format(path_to_clean_file, 'clean_bloc_file.csv'))
df.head()

,Unnamed: 0,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,...,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
0,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0.0,0.0,0.0,0.0,0.0,381,5:11
1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,0.0,...,29,12,0,0.0,0.0,0.0,0.0,455.0,381,5:13
2,3,0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,107.0,...,29,12,0,0.0,99.0,0.0,0.0,460.0,381,5:14
3,4,0,0.0,0.0,0.0,0.0,0.0,0.0,99.0,116.0,...,29,12,0,0.0,97.0,0.0,0.0,456.0,381,5:15
4,5,0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,113.0,...,29,12,0,0.0,97.0,0.0,0.0,455.0,381,5:16

In [3]:
df = pd.read_csv('{}{}'.format(path_to_data_model, 'dim_patient.csv'))

df.head()

,id_patient,exclusion_plasmapherese,exclusion_pf,exclusion_ino,exclusion_lactate,date_transplantation,date_sortie_bloc,heure_arrivee_rea,age,sexe,...,pdg_h24,pgd_h48,pgd3,date_de_deces,lactates_initial,lactates_clampage_cote_1,lactates_declampage_cote_1,lactates_clampage_cote_2,lactates_declampage_cote_2,lactates_fermeture
0,1,0,0,0,0,05/01/2012,1/5/12,12:20,49,0,...,1.0,1.0,1.0,NaN,0.5,NaN,2.6,2.3,5.0,NaN
1,2,0,1,0,0,08/01/2012,1/8/12,12:30,42,1,...,0.0,0.0,0.0,NaN,1.3,5.2,5.3,5.0,8.1,5.2
2,3,0,0,0,0,11/01/2012,1/12/12,22:30,22,1,...,1.0,0.0,1.0,NaN,0.7,1.8,2.3,1.6,NaN,3.0
3,4,0,0,0,0,15/01/2012,1/15/12,14:00,57,0,...,0.0,0.0,0.0,2/22/16,0.4,0.8,NaN,0.8,NaN,0.8
4,5,0,0,0,0,17/01/2012,1/18/12,19:04,49,0,...,1.0,1.0,1.0,NaN,2.3,NaN,2.3,2.6,3.3,4.3

# Exemple 2 : Mettre Ã  jour les tables faits et dimensions

In [4]:
parser = Parser()

parser.update_tables()

Found 0 files ...
Importing and cleaning Excel files ...

IndexError: list index out of range