In [1]:
import pandas as pd
import numpy as np
import sys

pd.set_option('display.max_columns', None)

On a reçu suite à la réunion du 24 Octobre 2018 de nouvelle données (cf Slack). Ce notebook à pour but d'analyser ces données.

## Notebook de travail et d'analyse dans la lecture des fichier de type BlocxD4G

- La première partie est le travail finalisé
- La seconde partie est l'analyse et le code pour arrivé à la première partie.

### 1. Lecture des fichiers :

In [3]:
sys.path.append('../')
from config import *
from data.read_data import read_xls_files, fill_unknow_col_in_df

In [14]:
df1 = read_xls_files(DATA_ORIGINAL+'Bloc1D4G.xls')
df2 = read_xls_files(DATA_ORIGINAL+'Bloc2D4G.xls')
df3 = read_xls_files(DATA_ORIGINAL+'Bloc3D4G.xls')
df4 = read_xls_files(DATA_ORIGINAL+'Bloc4D4G.xls')

In [4]:
df1.head()

,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FR,FR(ecg),FiO2,MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,PNId,PNIm,PNIs,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
1,0,0,0.0,0,0.0,0.0,0,0,118,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,99.0,0.0,0.0,0.0,329,5:48
2,0,0,0.0,0,0.0,0.0,0,0,112,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,99.0,0.0,0.0,0.0,329,5:49
3,0,0,0.0,0,0.0,0.0,0,21,117,0.0,0,0,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,1,0,0.0,97.0,0.0,0.0,0.0,329,5:50
4,0,0,0.0,0,0.0,0.0,0,21,113,0.0,0,0,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,1,0,0.0,97.0,0.0,0.0,0.0,329,5:51
5,0,0,0.0,0,0.0,0.0,0,21,112,0.0,0,0,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,90,108,142,1,1,0,0.0,97.0,0.0,0.0,0.0,329,5:52

In [5]:
df2.head()

,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FR,FR(ecg),FiO2,MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,PNId,PNIm,PNIs,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
1,0,0.0,0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0,0.0,0,0,26.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0,0,0.0,0,349,8:59
2,0,0.0,0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0,0.0,0,0,26.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0,0,0.0,0,349,9:00
3,0,0.0,0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0,0.0,0,0,26.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0,0,0.0,0,349,9:01
4,0,0.0,0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0,0.0,0,0,26.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0,0,0.0,0,349,9:02
5,0,0.0,0,0.0,0.0,0.0,0.0,26.0,0.0,0.0,0,0.0,0,0,26.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0.0,0,0,0,0.0,0,0,0.0,0,349,9:03

In [6]:
df_full = pd.concat([df1, df2, df3, df4])

In [7]:
df_full.tail()

,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FR,FR(ecg),FiO2,MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,PNId,PNIm,PNIs,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
10070,0,0.0,0.0,0.0,0.0,4.4,0.0,92.0,0.0,0.0,0,0.0,20,0,96.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,0,0,0.0,26,11,0,20.0,0.0,0.0,0.0,403.0,396,7:10
10071,0,0.0,0.0,0.0,0.0,0.0,0.0,97.0,0.0,0.0,0,0.0,19,0,97.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,3,0,0,0.0,0.0,0.0,0.0,40.0,396,7:11
10072,0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0,0.0,0,0,21.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,0,0,0,0.0,0.0,0.0,0.0,0.0,396,7:12
10073,0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0,0.0,0,0,21.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,0.0,396,7:13
10074,0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0,0.0,1,0,21.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.0,1,0,0,0.0,0.0,0.0,0.0,6.0,396,7:14

In [8]:
df_full.shape

(64496, 38)

#### Export clean data :

In [9]:
df_full.to_csv(DATA_CLEAN+'clean_Bloc_files.csv', index=False, encoding='utf-8')

### Analyse des fichiers originales

In [13]:
DATA_DIR = '../data/original_data/'

In [14]:
# Bloc1D4G
df1 = pd.read_excel(DATA_DIR+'Bloc1D4G.xls')
#df1 = df1.dropna(subset=['Unnamed: 0'])
# Bloc2D4G
df2 = pd.read_excel(DATA_DIR+'Bloc2D4G.xls')
#df2 = df2.dropna(subset=['Unnamed: 0'])
# Bloc3D4G
df3 = pd.read_excel(DATA_DIR+'Bloc3D4G.xls')
#df3 = df3.dropna(subset=['Unnamed: 0'])
# Bloc4D4G
df4 = pd.read_excel(DATA_DIR+'Bloc4D4G.xls')

In [15]:
df1.head(2)

,Unnamed: 0,Unnamed: 1,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,%,L/min,%,%,%,%,/min,%,%,%,/min,/min,NaN,%,mmHg,mmHg,mmHg,mmHg,mmHg,mmHg,cmH2O,cmH2O,cmH2O,mmHg,mmHg,mmHg,/min,%,%,°C,ml,NaN,NaN,NaN,NaN
1,329.0,5:48,0,0,0,0,0,0,0,118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,99,0,0,0,NaN,NaN,NaN,NaN

In [16]:
df2.head(2)

,Unnamed: 0,Unnamed: 1,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,Temp,VT,Unnamed: 35
0,NaN,NaN,NaN,%,%,%,%,mmHg,%,/min,%,mmHg,%,%,/min,/min,NaN,%,mmHg,mmHg,mmHg,mmHg,mmHg,mmHg,cmH2O,cmH2O,cmH2O,mmHg,mmHg,mmHg,cmH2O,/min,%,°C,ml,NaN
1,349.0,8:59,0,0,0,0,0,0,26,0,0,0,0,26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN

In [17]:
df3.head(2)

,Unnamed: 0,Unnamed: 1,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,%,L/min,%,%,%,%,/min,%,%,%,/min,NaN,%,mmHg,mmHg,mmHg,mmHg,mmHg,mmHg,cmH2O,cmH2O,cmH2O,mmHg,mmHg,mmHg,cmH2O,/min,%,%,°C,ml,NaN,NaN,NaN,NaN
1,381.0,5:11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,85,110,152,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [18]:
df4.head(2)

,Unnamed: 0,Unnamed: 1,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,%,L/min,%,%,%,%,/min,%,%,%,/min,/min,NaN,%,mmHg,mmHg,mmHg,mmHg,mmHg,mmHg,cmH2O,cmH2O,cmH2O,mmHg,mmHg,mmHg,/min,%,%,°C,ml,NaN,NaN,NaN,NaN
1,393.0,16:56,0,0,0,0,0,0,0,97,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,98,0,0,0,NaN,NaN,NaN,NaN

### Analyse des fichiers de type BlocxD4G approfondie :

In [19]:
# Renaming columns
df1.rename(columns={'Unnamed: 0':'id_patient'}, inplace=True)
df1.rename(columns={'Unnamed: 1':'time'}, inplace=True)

In [20]:
df1.shape

(21593, 38)

In [21]:
df1.head()

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,%,L/min,%,%,%,%,/min,%,%,%,/min,/min,NaN,%,mmHg,mmHg,mmHg,mmHg,mmHg,mmHg,cmH2O,cmH2O,cmH2O,mmHg,mmHg,mmHg,/min,%,%,°C,ml,NaN,NaN,NaN,NaN
1,329.0,5:48,0,0,0,0,0,0,0,118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,99,0,0,0,NaN,NaN,NaN,NaN
2,329.0,5:49,0,0,0,0,0,0,0,112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,99,0,0,0,NaN,NaN,NaN,NaN
3,329.0,5:50,0,0,0,0,0,0,21,117,0,0,21,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,97,0,0,0,NaN,NaN,NaN,NaN
4,329.0,5:51,0,0,0,0,0,0,21,113,0,0,21,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,97,0,0,0,NaN,NaN,NaN,NaN

In [22]:
df1.id_patient.unique()

array([ nan, 329., 323., 316., 301., 326., 311., 330., 319., 328., 314.,
       312., 320., 327., 305., 325., 302., 315., 300., 309., 322., 318.,
       304., 308.])

In [23]:
df1.id_patient.nunique()

23

Dans le fichier ```Bloc1D4G.xls``` il y a 23 patient différents. Par contre certaines lignes de ```id_patient``` ne sont pas renseignés (NaN)

In [24]:
# OK
df1[df1['id_patient'] == 329.0].head(2)

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
1,329.0,5:48,0,0,0,0,0,0,0,118,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,99,0,0,0,NaN,NaN,NaN,NaN
2,329.0,5:49,0,0,0,0,0,0,0,112,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,99,0,0,0,NaN,NaN,NaN,NaN

**Problèmes :**
    
   - A chaque nouveau patient dans le fichiers, un header est collé.
   - Un patient n'a pas forcement les même header

In [25]:
# Header pour le patient 316
df1[~pd.isnull(df1['Unnamed: 34'])].head()

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
1687,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN
1688,NaN,NaN,NaN,%,L/min,%,%,%,%,/min,%,%,%,/min,/min,NaN,NaN,%,mmHg,mmHg,mmHg,mmHg,mmHg,mmHg,cmH2O,cmH2O,cmH2O,mmHg,mmHg,mmHg,cmH2O,/min,%,%,°C,ml,NaN,NaN
1689,316.0,0:52,0,0,0,0,0,0,0,104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,87,0,0,0,NaN,NaN
1690,316.0,0:53,0,0,0,0,0,0,0,103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,67,87,121,0,0,89,0,0,0,NaN,NaN
1691,316.0,0:54,0,0,0,0,0,0,0,102,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,90,0,0,0,NaN,NaN

On remarque les colonnes ```Temp``` et ```VT``` ont été ajouté pour ce patient (nom original des colonnes ```Unnamed: 34``` et ```Unnamed: 35```.

**Certaines colonnes ne corresponde pas au header du 1er patient** (colonne du DataFrame), ainsi ```Temp``` (colonne du DataFrame), devient ```SpO2``` (header du patient 316)

In [26]:
# La colonne Temp [DataFrame] ne correspond pas au header du patient 316 -> SpO2
df1[~pd.isnull(df1['Unnamed: 34'])]['Temp'].head(2)

1687    SpO2
1688       %
Name: Temp, dtype: object

In [27]:
# Header pour le patient 328
df1[~pd.isnull(df1['Unnamed: 37'])].head()

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
6219,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FiO2,FR,FR(ecg),MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT
6220,NaN,NaN,NaN,%,L/min,%,%,%,mmHg,%,/min,%,mmHg,%,%,/min,/min,NaN,NaN,%,mmHg,mmHg,mmHg,mmHg,mmHg,mmHg,cmH2O,cmH2O,cmH2O,mmHg,mmHg,mmHg,cmH2O,/min,%,%,°C,ml
6221,328.0,14:51,0,0,0,0,0,0,0,0,114,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,85,0,0,0
6222,328.0,14:52,0,0,0,0,0,0,0,0,104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,90,0,0,0
6223,328.0,14:53,0,0,0,0,0,0,0,0,102,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,93,0,0,0

#### Conclusion :

Il faut lire par patient et adapté le header selon celui-ci

In [28]:
headers = df1[pd.isnull(df1['id_patient']) & 
                (pd.isnull(df1['time'])) & 
                (~pd.isnull(df1['B.I.S']))].dropna(how='all')
headers

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
594,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
1687,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN
2863,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
3690,NaN,NaN,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FiO2,FR,FR(ecg),MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,VT,NaN,NaN,NaN
4168,NaN,NaN,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
4921,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,PODmoy,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN
5535,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN
6219,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FiO2,FR,FR(ecg),MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT
7506,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN
8094,NaN,NaN,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,Temp,VT,NaN,NaN,NaN,NaN,NaN
8714,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
9548,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
10314,NaN,NaN,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,Temp,VT,NaN,NaN,NaN,NaN,NaN,NaN
10771,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN,NaN
11279,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
11867,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN,NaN
12455,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN
13038,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN
13643,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
14404,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN
16629,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FiO2,FR,FR(ecg),MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT
17067,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
17629,NaN,NaN,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN,NaN
18131,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
18970,NaN,NaN,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,Temp,VT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19655,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
20425,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN
21035,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN,NaN

In [29]:
for idx, rows in headers.iterrows():
    patient_id = df1.loc[idx+2]['id_patient']
    print("Header pour le patient : " + str(patient_id))
    print(rows.values)

Header pour le patient : 323.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 316.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'MAC' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan]
Header pour le patient : 301.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 326.0
[nan nan 'B.I.S' 'BIS SR' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETCO2 (mmHg)'
 'ETO2' 'FC' 'FICO2' 'FICO2 (mmHg)' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'MAC'
 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs'
 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2'
 'VT' nan nan nan]
Header pour le patient : 311.0
[nan nan 'B.I.S' 'BIS SR' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC' 'FICO2'
 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 330.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'PODmoy' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan
 nan]
Header pour le patient : 319.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan]
Header pour le patient : 328.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETCO2 (mmHg)'
 'ETO2' 'FC' 'FICO2' 'FICO2 (mmHg)' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'MAC'
 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs'
 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2'
 'SvO2 (m)' 'Temp' 'VT']
Header pour le patient : 314.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan]
Header pour le patient : 312.0
[nan nan 'B.I.S' 'BIS SR' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC' 'FICO2'
 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'Temp' 'VT' nan nan nan nan nan]
Header pour le patient : 320.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 327.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 305.0
[nan nan 'B.I.S' 'BIS SR' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC' 'FICO2'
 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy' 'PAPsys'
 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm' 'PNIs'
 'Pplat' 'RR(co2)' 'SpO2' 'Temp' 'VT' nan nan nan nan nan nan]
Header pour le patient : 325.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan nan]
Header pour le patient : 302.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 315.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan nan]
Header pour le patient : 300.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'MAC' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan]
Header pour le patient : 309.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan]
Header pour le patient : 322.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 323.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan]
Header pour le patient : 318.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETCO2 (mmHg)'
 'ETO2' 'FC' 'FICO2' 'FICO2 (mmHg)' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'MAC'
 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs'
 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm' 'PNIs' 'Pplat' 'RR(co2)' 'SpO2'
 'SvO2 (m)' 'Temp' 'VT']
Header pour le patient : 304.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 305.0
[nan nan 'B.I.S' 'BIS SR' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC' 'FICO2'
 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan nan]
Header pour le patient : 308.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'FR(ecg)' 'NMT TOF' 'NMTratio' 'PAPdia'
 'PAPmoy' 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId'
 'PNIm' 'PNIs' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 311.0
[nan nan 'B.I.S' 'BIS SR' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC' 'FICO2'
 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy' 'PAPsys'
 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm' 'PNIs'
 'RR(co2)' 'SpO2' 'Temp' 'VT' nan nan nan nan nan nan nan]
Header pour le patient : 314.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 325.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'Pplat' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan]
Header pour le patient : 319.0
[nan nan 'B.I.S' 'BIS SR' 'DC' 'ET Des.' 'ET Sevo.' 'ETCO2' 'ETO2' 'FC'
 'FICO2' 'FIN2O' 'FiO2' 'FR' 'NMT TOF' 'NMTratio' 'PAPdia' 'PAPmoy'
 'PAPsys' 'PASd' 'PASm' 'PASs' 'PEEPtotal' 'Pmax' 'Pmean' 'PNId' 'PNIm'
 'PNIs' 'RR(co2)' 'SpO2' 'SvO2 (m)' 'Temp' 'VT' nan nan nan nan nan]

## Création d'une function qui permet de lire les fichiers et de structurer les données par patients

In [30]:
FULL_HEADER = ['id_patient', 'time', 'B.I.S', 'BIS SR', 'DC', 'ET Des.', 'ET Sevo.', 'ETCO2', 'ETCO2 (mmHg)',
 'ETO2', 'FC', 'FICO2', 'FICO2 (mmHg)', 'FIN2O', 'FiO2', 'FR', 'FR(ecg)', 'MAC',
 'NMT TOF', 'NMTratio', 'PAPdia', 'PAPmoy', 'PAPsys', 'PASd', 'PASm', 'PASs',
 'PEEPtotal', 'Pmax', 'Pmean', 'PNId', 'PNIm', 'PNIs', 'Pplat', 'RR(co2)', 'SpO2',
 'SvO2 (m)', 'Temp', 'VT']

In [31]:
df1 = pd.read_excel(DATA_DIR+'Bloc1D4G.xls')
# Renaming columns
df1.rename(columns={'Unnamed: 0':'id_patient'}, inplace=True)
df1.rename(columns={'Unnamed: 1':'time'}, inplace=True)

In [32]:
# List des id_patient dans le fichiers (on enlève les NaN)
list_patient_in_file = list(df1[~pd.isnull(df1['id_patient'])]['id_patient'].unique())

In [33]:
list_patient_in_file

[329.0,
 323.0,
 316.0,
 301.0,
 326.0,
 311.0,
 330.0,
 319.0,
 328.0,
 314.0,
 312.0,
 320.0,
 327.0,
 305.0,
 325.0,
 302.0,
 315.0,
 300.0,
 309.0,
 322.0,
 318.0,
 304.0,
 308.0]

In [34]:
# New DF
data = pd.DataFrame(columns=FULL_HEADER)

In [35]:
def fill_unknow_col_in_df(data):
    """
    
    """
    for unknow_col in [col for col in FULL_HEADER if col not in data.columns]:
        data[unknow_col] = 0
    
    return data

In [36]:
for id_patient in list_patient_in_file:
    try:
        patient_df = df1[df1['id_patient'] == id_patient].copy()

        # Cas spécifique
        if patient_df[0:1].index.values[0] == 1: # On regarde si premier patient dans le fichier
            patient_header = patient_df.columns
            # Drop `Unnamed:`columns
            patient_header_fix = [col for col in patient_df.columns if not col.startswith('Unnamed:')]
            data = pd.concat([data, patient_df[patient_header_fix]], axis=0, sort=True)
        # Cas générique
        else:
            patient_header_fix = [col for col in patient_df.columns if not col.startswith('Unnamed:')]
            first_idx_patient = patient_df[0:1].index.values[0]

            # On recherche le header de notre patient spécifique
            patient_header = df1.loc[first_idx_patient-2].values
            patient_df.columns = patient_header

            patient_header[0] = 'id_patient' # NaN -> 'id_patient'
            patient_header[1] = 'time' # NaN -> 'time'
            # Drop NaN columns
            patient_header = [col for col in patient_header if str(col) != 'nan']
            patient_df = patient_df[patient_header]
            
            # 
            patient_df = fill_unknow_col_in_df(patient_df)
            
            data = pd.concat([data, patient_df[patient_header_fix]], axis=0, sort=True)
    except Exception as e:
        print('Error during id_patient ' + str(id_patient))
        print(e)
        
data.fillna(0, inplace=True)

In [37]:
data.head()

,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FR,FR(ecg),FiO2,MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,PNId,PNIm,PNIs,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
1,0,0,0.0,0,0.0,0.0,0,0,118,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,99.0,0.0,0.0,0.0,329.0,5:48
2,0,0,0.0,0,0.0,0.0,0,0,112,0.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0.0,99.0,0.0,0.0,0.0,329.0,5:49
3,0,0,0.0,0,0.0,0.0,0,21,117,0.0,0,0,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,1,0,0.0,97.0,0.0,0.0,0.0,329.0,5:50
4,0,0,0.0,0,0.0,0.0,0,21,113,0.0,0,0,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,1,0,0.0,97.0,0.0,0.0,0.0,329.0,5:51
5,0,0,0.0,0,0.0,0.0,0,21,112,0.0,0,0,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,90,108,142,1,1,0,0.0,97.0,0.0,0.0,0.0,329.0,5:52

Test du DataFrame final (```data```)

In [38]:
## patient = 301.0
data[data.id_patient == 301.0].tail()
# PEEPtotal = 7
# Pmax = 33
# Pmean = 15
# PNIs = 0

,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FR,FR(ecg),FiO2,MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,PNId,PNIm,PNIs,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
3683,0,0,0.0,0,0.0,1.1,0,96,0,0.0,0,0,12,0,97,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7,0,0,0,33,15,0,12.0,0.0,0.0,0.0,315.0,301.0,15:31
3684,0,0,0.0,0,0.0,0.0,0,38,0,0.0,0,0,15,0,38,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,1,0,0.0,0.0,0.0,0.0,43.0,301.0,15:32
3685,0,0,0.0,0,0.0,1.9,0,91,0,0.0,0,0,12,0,96,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1,1,0,13.0,0.0,0.0,0.0,23.0,301.0,15:33
3686,0,0,0.0,0,0.0,1.4,0,92,0,0.0,0,0,12,0,92,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,2,1,0,14.0,0.0,0.0,0.0,24.0,301.0,15:34
3687,0,0,0.0,0,0.0,0.0,0,21,0,0.0,0,0,12,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,2,1,0,0.0,0.0,0.0,0.0,31.0,301.0,15:35

In [39]:
# Patient Header
df1[2865-2:2865-1] # faire un head() pour trouver l'index de départ

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
2863,NaN,NaN,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,NaN,NaN,NaN,NaN

In [40]:
df1[df1.id_patient == 301.0].tail()
# PASs -> PEEPtotal = 7 OK
# PEEPtotal -> Pmax = 33 OK
# Pmax -> Pmean = 15 OK
# PNIm -> PNIs = 0 OK

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
3683,301.0,15:31,0,0,0,0,0,1.1,96,0,0,0,97,12,0,0,0,0,0,0,0,0,7,33,15,0,0,0,0,12,0,0,0,315,NaN,NaN,NaN,NaN
3684,301.0,15:32,0,0,0,0,0,0,38,0,0,0,38,15,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,43,NaN,NaN,NaN,NaN
3685,301.0,15:33,0,0,0,0,0,1.9,91,0,0,0,96,12,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,13,0,0,0,23,NaN,NaN,NaN,NaN
3686,301.0,15:34,0,0,0,0,0,1.4,92,0,0,0,92,12,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,14,0,0,0,24,NaN,NaN,NaN,NaN
3687,301.0,15:35,0,0,0,0,0,0,21,0,0,0,21,12,0,0,0,0,0,0,0,0,0,2,1,0,0,0,0,0,0,0,0,31,NaN,NaN,NaN,NaN

In [41]:
## Patient = 305.0
# ok
data[data.id_patient == 305.0].tail()
# RR(co2) = 18.0
# SpO2 = 0.0
# Temp = 79.0

,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETCO2 (mmHg),ETO2,FC,FICO2,FICO2 (mmHg),FIN2O,FR,FR(ecg),FiO2,MAC,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,PNId,PNIm,PNIs,Pmax,Pmean,Pplat,RR(co2),SpO2,SvO2 (m),Temp,VT,id_patient,time
18122,0,0,0.0,0,0.0,4.5,0,39,0,0.1,0,0,23,0,22,0,0.0,0.0,0.0,-15.0,-12.0,-10.0,0.0,0.0,0,1,0,0,0,2,0,18.0,0.0,0.0,79.0,0.0,305.0,2:24
18123,0,0,0.0,0,0.0,4.5,0,87,0,0.0,0,0,21,0,97,0,0.0,2.0,0.0,-13.0,-13.0,-13.0,0.0,0.0,0,14,0,0,8,28,0,18.0,0.0,0.0,79.0,0.0,305.0,2:25
18124,0,0,0.0,0,0.0,4.3,0,89,0,0.0,0,0,20,0,95,0,0.0,2.0,0.0,-13.0,-13.0,-13.0,0.0,0.0,0,14,0,0,8,28,0,20.0,0.0,0.0,80.0,0.0,305.0,2:26
18125,0,0,0.0,0,0.0,0.0,0,21,0,0.0,0,0,0,0,21,0,0.0,2.0,0.0,-15.0,-15.0,-15.0,0.0,0.0,0,0,0,0,0,1,0,0.0,0.0,0.0,80.0,0.0,305.0,2:27
18126,0,0,0.0,0,0.0,0.0,0,21,0,0.0,0,0,0,0,21,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,0.0,0.0,0.0,0.0,0.0,305.0,2:28

In [42]:
# Patient Header
df1[10316-2:10316-1] # faire un head() pour trouver l'index de départ

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
10314,NaN,NaN,B.I.S,BIS SR,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,Pplat,RR(co2),SpO2,Temp,VT,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# ok
df1[df1.id_patient == 305.0].tail()
# PNIs -> RR(co2) = 18.0 #OK
# RR(co2) -> SpO2 = 0.0 #OK
# SpO2 -> Temp = 79.0 #OK

,id_patient,time,B.I.S,BIS SR,DC,ET Des.,ET Sevo.,ETCO2,ETO2,FC,FICO2,FIN2O,FiO2,FR,FR(ecg),NMT TOF,NMTratio,PAPdia,PAPmoy,PAPsys,PASd,PASm,PASs,PEEPtotal,Pmax,Pmean,PNId,PNIm,PNIs,RR(co2),SpO2,SvO2 (m),Temp,VT,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
18122,305.0,2:24,0,0,0,0,4.5,39,0,0.1,0,22,23,0,0,0,-15,-12,-10,0,0,0,0,2,1,0,0,0,18,0,79,0,37,NaN,NaN,NaN,NaN,NaN
18123,305.0,2:25,0,0,0,0,4.5,87,0,0,0,97,21,0,2,0,-13,-13,-13,0,0,0,8,28,14,0,0,0,18,0,79,0,363,NaN,NaN,NaN,NaN,NaN
18124,305.0,2:26,0,0,0,0,4.3,89,0,0,0,95,20,0,2,0,-13,-13,-13,0,0,0,8,28,14,0,0,0,20,0,80,0,364,NaN,NaN,NaN,NaN,NaN
18125,305.0,2:27,0,0,0,0,0,21,0,0,0,21,0,0,2,0,-15,-15,-15,0,0,0,0,1,0,0,0,0,0,0,80,0,0,NaN,NaN,NaN,NaN,NaN
18126,305.0,2:28,0,0,0,0,0,21,0,0,0,21,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN